/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings:
    "wght" var(--font-inter-default-weight, 410),
    "slnt" var(--font-inter-default-slant, 0);
  background-image: var(--background);
  background-attachment: fixed;
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10.5px 35px;
  background: var(--color-white);
  border: var(--page-block-border);
  font-size: 14px;
  font-family: var(--font-press);
  line-height: 90%;
  min-inline-size: 130px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  color: var(--color-white);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-black);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 100%;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-black);
}

.button:hover::before {
  transform: scaleX(1);
}

.button span {
  color: currentColor;
  mix-blend-mode: difference;
}

.watermark {
  position: absolute;
  font-family: var(--font-press);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: var(--watermark-text-shadow);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-invert {
  filter: invert(1);
}

.filter-hue-rotate {
  filter: hue-rotate(150deg);
}

.filter-blur {
  filter: blur(5px);
}

.filter-custom {
  filter: brightness(80%) contrast(135%) grayscale(30%) sepia(10%);
}

.page-block {
  margin-inline: auto;
  width: clamp(var(--page-block-min-width), 100%, var(--page-block-max-width));
  background: var(--page-block-background);
  border: var(--page-block-border);
}

.header {
  margin-block-end: 100px;
  text-align: center;
  text-transform: uppercase;
  padding: clamp(120px, 116.48px + 0.94vw, 130px) clamp(16px, -21.5px + 10vw, 122.5px);
}

.header__logo-group {
  font-family: var(--font-press);
  font-weight: 400;
}

.header__logo {
  display: inline-block;
  margin-block-end: 20px;
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
}

.card__item {
  margin-block-end: 50px;
}

.card__header {
  padding-inline: 10px;
  padding-block: 4px;
  border-block-end: var(--page-block-border);
}

.card__header-title {
  font-size: 18px;
  font-variation-settings:
    "wght" var(--font-inter-heading-weight, 410),
    "slnt" var(--font-inter-default-slant, 0);
}

.card__image-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(371px, 256.56px + 30.52vw, 696px);
  overflow: hidden;
}

.card__image-box img {
  display: block;
  width: 100%;
}

.card__content {
  padding: var(--card-padding);
  border-block-start: var(--page-block-border);
}

.card__content p {
  line-height: 21px;
}

.card__content p:not(:last-child) {
  margin-block-end: 25px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: var(--card-padding);
  padding-block-end: var(--card-padding);
}

.card__icon-button {
  padding: 0;
  margin-inline-end: 12px;
  background: none;
  border: 0;
}

.section__button {
  display: flex;
  justify-content: center;
}

.section__button .button {
  padding: 15px 18px;
  min-inline-size: 335px;
}

.section__button-icon {
  flex-shrink: 0;
  max-block-size: 21px;
  mix-blend-mode: difference;
}

.section__button-text {
  padding-inline-start: 8px;
}

.dialog__window[open] {
  display: block;
  padding: 30px;
  border: var(--page-block-border);
  max-inline-size: clamp(341px, 336.77px + 1.13vw, 353px);
}

.dialog__window[open]::backdrop {
  background-color: var(--color-black);
  opacity: 0.75;
}

.dialog__window-content {
  display: flex;
  margin-block-end: 30px;
}

.dialog__window-content-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  margin-inline-end: 20px;
}

.dialog__window-content-text {
  font-family: var(--font-press);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__window-button {
  inline-size: 100%;
  text-transform: uppercase;
}

@supports ((text-stroke: var(--watermark-text-stroke)) or (-webkit-text-stroke: var(--watermark-text-stroke))) {
  .watermark {
    -webkit-text-stroke: var(--watermark-text-stroke);
    text-stroke: var(--watermark-text-stroke);
    text-shadow: none;
  }
}

@media (max-width: 375.99px) {
  .section__button .button {
    flex-direction: column;
    min-inline-size: auto;
  }

  .section__button-icon {
    max-block-size: 28px;
  }

  .section__button-text {
    padding-inline-start: 0;
    padding-block-start: 8px;
  }

  .dialog__window[open] {
    padding-inline: 40px;
  }
}
